[user]
  name = chintan357
  email = chintan357@localhost

[init]
  defaultBranch = main

[core]
  autocrlf = input
  editor = nvim

; [diff]
  ; tool = nvim

; [difftool "nvim"]
  ; cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[push]
  default = current
