
[alias]
	; opr = !sh -c 'git fo pull/$1/head:pr-$1 && git o pr-$1'

	pr = prune -v

	sa = stash apply
	sc = stash clear
	sd = stash drop
	sp = stash pop
	ss = stash push
	ssk = stash push -k
	sw = stash show
	st = !git stash list | wc -l 2>/dev/null | grep -oEi '[0-9][0-9]*'

	t = tag
	td = tag -d

	w = show
	wp = show -p

	; subadd = !sh -c 'git submodule add https://github.com/$1 $2/$(basename $1)' -
	; subrm = !sh -c 'git submodule deinit -f -- $1 && rm -rf .git/modules/$1 && git rm -f $1' -
	; subup = submodule update --init --recursive
	;
	; assume = update-index --assume-unchanged
	; unassume = update-index --no-assume-unchanged
	; assumed = !git ls -v | grep ^h | cut -c 3-
	;
	; release = !sh -c 'git tag v$1 && git put' -
	; unrelease = !sh -c 'git tag -d v$1 && git puo :v$1' -
	; merged = !sh -c 'git checkout main && git pull origin main && git branch -D $1 && git rpo' -
	;
	; ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	; theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
; [rerere]
;   enabled = 1
;   autoupdate = 1

; [filter "lfs"]
;   clean = git-lfs clean -- %f
;   smudge = git-lfs smudge -- %f
;   required = true
;   process = git-lfs filter-process


; [alias]
;   ; a = "!git status --short | peco | awk '{print $2}' | xargs git add"
;   ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
;   pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
;   df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
;   type = cat-file -t
;   dump = cat-file -p
;   find = "!f() { git log --pretty=format:\"%h %cd [%cn] %s%d\" --date=relative -S'pretty' -S\"$@\" | peco | awk '{print $1}' | xargs -I {} git diff {}^ {}; }; f"
  ; edit conflicted file on merge
  ; edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"

  ; add conflicted file on merge
  ; add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  ; Show the current branch name (useful for shell prompts)
  ; brname = !git branch | grep "^*" | awk '{ print $2 }'


	; bs = !git-branch-status
  ;	puom = push origin main
  ;	puaom = push --all origin main
  ;	pufom = push -f origin main
  ;	puuom = push -u origin main
  ; pudc = !git push origin :$(git bc)
  ;	Pom = pull origin main
  ;	Prom = pull --rebase origin main
  ;	Pum = pull upstream main
  ;	Prum = pull --rebase upstream main
  ; subpull = submodule foreach 'git pull --tags -f origin main || git pull --tags -f origin main || git pull --tags -f origin development'
  ; bump = !sh -c 'git commit -am \"Version bump v$1\" && git puoc && git release $1' -
  ; aliases = !git config -l | grep alias | cut -c 7-
  ; whois = !sh -c 'git log -i -1 --author=\"$1\" --pretty=\"format:%an <%ae>\"' -
  ; bare = !sh -c 'git symbolic-ref HEAD refs/heads/$1 && git rm --cached -r . && git clean -xfd' -
  ; serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  ; subrepo = !sh -c 'git filter-branch --prune-empty --subdirectory-filter $1 main' -
  ; human = name-rev --name-only --refs=refs/heads/*
  ; behind = !git rev-list --left-only --count $(git bu)...HEAD
  ; ahead = !git rev-list --right-only --count $(git bu)...HEAD
  ; snap = !git stash save 'snapshot: $(date)' && git stash apply 'stash@{0}'
  ; unassumeall = !git assumed | xargs git unassume
  ; assumeall = !git status -s | awk {'print $2'} | xargs git assume

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential

[ghq]
  root = ~/.ghq
